SECRET_KEY=секретный ключь

DEBUG=True
ALLOWED_HOSTS=ocalhost,127.0.0.1,0.0.0.0

DB_ENGINE=django.db.backends.postgresql
DB_NAME=название
DB_USER=имя
DB_PASSWORD=пароль
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=пароль

DJANGO_SUPERUSER_PHONE=+79991234567
DJANGO_SUPERUSER_PASSWORD=admin123